[submodule "mmd/third_party/saba"]
	path = mmd/third_party/saba
	url = https://github.com/benikabocha/saba.git
[submodule "webrtc_aec3"]
	path = app/src/main/cpp/thirdparty/webrtc_aec3
	url = https://github.com/khomin/AEC3_cmake.git
[submodule "app/src/main/cpp/thirdparty/ncnn"]
	path = app/src/main/cpp/thirdparty/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "app/src/main/cpp/thirdparty/sherpa-ncnn"]
	path = app/src/main/cpp/thirdparty/sherpa-ncnn
	url = https://github.com/k2-fsa/sherpa-ncnn.git
[submodule "quickjs/thirdparty/quickjs"]
	path = quickjs/thirdparty/quickjs
	url = https://github.com/bellard/quickjs.git
